{% extends 'base.html' %}

{% block contents %}

  <body>
    </br>
    <div class="container">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <h1>{{details.title}}</h1>
      </div>
      <div class="alert alert-secondary" role="alert">
        <h6>{{details.nickName}}</h6>
        <p>{{details.pub_date}}</p>
        <p>{{details.body}}</p>
      </div>
      <a href = "/" class="btn btn-info">처음으로 돌아가기</a>
      <a href = "{%url 'free_board'%}" class="btn btn-warning">목록으로 돌아가기</a>
    </div>
  </body>

{% endblock %}